<connectionStrings>
  <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
    providerName="System.Data.SqlClient" />
  <add name="TimeforingConnectionString" connectionString="Data Source=wdtest;Initial Catalog=TimeForing;Persist Security Info=True;User ID=sa;Password=password"
     providerName="System.Data.SqlClient" />
</connectionStrings>
