<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TimeforingConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Timeforing.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
    <!--add name="TimeforingConnectionString" connectionString="Data Source=wdtest;Initial Catalog=TimeForing;Persist Security Info=True;User ID=sa;Password=password"
     providerName="System.Data.SqlClient" /-->
  </connectionStrings>
</configuration>